shoptet/shoptet.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="SHOP">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="SHOPITEM" maxOccurs="unbounded" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Products without variants  Products with variants</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="NAME"/>
                            <xs:element type="xs:string" name="SHORT_DESCRIPTION"/>
                            <xs:element type="xs:string" name="DESCRIPTION"/>
                            <xs:element type="xs:string" name="MANUFACTURER"/>
                            <xs:element type="xs:byte" name="WARRANTY"/>
                            <xs:element type="xs:string" name="ITEM_TYPE"/>
                            <xs:element type="xs:string" name="UNIT"/>
                            <xs:element name="CATEGORIES">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="CATEGORY" maxOccurs="unbounded" minOccurs="0"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="IMAGES">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:anyURI" name="IMAGE" maxOccurs="unbounded" minOccurs="0"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="TEXT_PROPERTIES" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="TEXT_PROPERTY" maxOccurs="unbounded" minOccurs="0">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element type="xs:string" name="NAME"/>
                                                    <xs:element type="xs:string" name="VALUE"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="RELATED_PRODUCTS" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="CODE" maxOccurs="unbounded" minOccurs="0"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="ALTERNATIVE_PRODUCTS" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="CODE" maxOccurs="unbounded" minOccurs="0"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="FLAGS">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:byte" name="ACTION"/>
                                        <xs:element type="xs:byte" name="NEW"/>
                                        <xs:element type="xs:byte" name="TIP"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element type="xs:string" name="CODE" minOccurs="0"/>
                            <xs:element type="xs:float" name="PRICE" minOccurs="0"/>
                            <xs:element type="xs:float" name="STANDARD_PRICE" minOccurs="0"/>
                            <xs:element type="xs:float" name="PURCHASE_PRICE" minOccurs="0"/>
                            <xs:element type="xs:float" name="PRICE_VAT" minOccurs="0"/>
                            <xs:element type="xs:string" name="WEIGHT" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>WEIGHT entered in kilograms</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element type="xs:byte" name="VAT" minOccurs="0"/>
                            <xs:element type="xs:long" name="EAN" minOccurs="0"/>
                            <xs:element type="xs:string" name="CURRENCY" minOccurs="0"/>
                            <xs:element name="STOCK" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:byte" name="AMOUNT"/>
                                        <xs:element type="xs:byte" name="MINIMAL_AMOUNT"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element type="xs:string" name="AVAILABILITY" minOccurs="0"/>
                            <xs:element name="VARIANTS" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="VARIANT" maxOccurs="unbounded" minOccurs="0">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element type="xs:string" name="CODE"/>
                                                    <xs:element name="PARAMETERS">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="PARAMETER" maxOccurs="unbounded" minOccurs="0">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element type="xs:string" name="NAME"/>
                                                                            <xs:element type="xs:string" name="VALUE"/>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element type="xs:long" name="EAN" minOccurs="0"/>
                                                    <xs:element type="xs:string" name="CURRENCY"/>
                                                    <xs:element type="xs:byte" name="VAT"/>
                                                    <xs:element type="xs:float" name="PRICE"/>
                                                    <xs:element type="xs:float" name="PURCHASE_PRICE"/>
                                                    <xs:element type="xs:float" name="STANDARD_PRICE"/>
                                                    <xs:element type="xs:short" name="PRICE_VAT"/>
                                                    <xs:element type="xs:string" name="AVAILABILITY"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>